* {
  margin: 0;
  padding: 0;
}
body {
  /* background: rgb(26, 13, 235);
  background: linear-gradient(
    90deg,
    rgba(26, 13, 235, 1) 7%,
    rgba(14, 194, 50, 1) 46%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background-image: url(./assets/img/fondo-foto.jpg);
  background-repeat: no-repeat;
  height:100vh;
  /* background-attachment: fixed; */
  background-position: center center;
  background-size: cover;
}
header{
  height:100vh;
}
.pantalla-2{
  background-color: white;
  height:100vh;
}
.pantalla-3{
background-color:aqua;
height:100vh;
}
iframe {
  width: 500px;
  height: 504px;
  display: block;
  margin: 0 auto;

  /* position: relative;
  top: 50px; */
}
h1 {
  text-align: center;
}
nav{
margin-top:1em;
}
.menu__iconos-redes {
  
  background-color: white;
  width: 40%;
  padding:0.2em;
  margin:auto;
  border-radius:30px;
  font-size:0.7em;
  font-weight: bold;
}
.menu-horizontal{
  background-color: white;
  width: 40%;
  padding:0.2em;
  margin:2em auto;
  border-radius:30px;
  font-size:0.7em;
}
ul {
  text-align: center;
}
li {
  display: inline-block;
  margin: 10px;
}

.banner {
  text-align: center;
  margin: auto;
  display: block;
}
img {
  width:80%;
}
