/* PALETA: 
#ded2fc
#ded2fc
 */

:root {
  --color-hover: #4df14d;
  --border-fantasma: rgba(234, 127, 127, 0);
  --icono-size: 50px;
  --color-menu-redes: #ffffff;
  --color-iconos-redes: #5d3ece;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5d3ece;
}
header {
  *background-color: #09097a;
  width:100%;
  height: 3vh;
  position:fixed;
}

header h1 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 20px;
  padding:10px;
}
.pagina-intro {
  /* background-image: url(./assets/img/fondo-foto.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */

  /* background-color:#09097a; */

  background: rgb(215, 206, 247);
  background: -moz-radial-gradient(
    circle,
    rgba(215, 206, 247, 1) 0%,
    rgba(92, 62, 205, 1) 46%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(215, 206, 247, 1) 0%,
    rgba(92, 62, 205, 1) 46%
  );
  background: radial-gradient(
    circle,
    rgba(215, 206, 247, 1) 0%,
    rgba(92, 62, 205, 1) 46%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7cef7",endColorstr="#5c3ecd",GradientType=1);

  height: 97vh;
  width: 100%;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 97vh;
}

.banner {
  border: solid var(--border-fantasma);
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner img {
  width: 25%;
}

.menu_redes_aviso {
  border: solid var(--border-fantasma);
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

.menu__iconos-redes {
  background-color: var(--color-menu-redes);
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  padding: 0.2em;

  border-radius: 30px;
  font-size: 1em;
  font-weight: bold;
  opacity: 80%;
}
.menu__iconos-redes i {
  font-size: var(--icono-size);
  color: var(--color-iconos-redes);
  padding-right: 5px;
  padding-left: 5px;
}
.menu__iconos-redes i:hover {
  color: var(--color-hover);
  text-decoration: none;
}

.menu-aviso {
  background-color: #78eaff;
  width: 40%;
  min-height:5vh;
  border-radius: 30px;
  font-size: 1.3em;
  opacity: 100%;
  font-weight: bolder;
  text-align: center;
}
.menu-aviso p {
  margin: 0px;
}
.menu-aviso a {
  color: white;
  text-decoration: none;
}
.menu-aviso a:hover {
  color: #09097a;
  text-decoration: none;
}

.pantalla-2 {
  background-color: white;
  height: 100vh;
}
.pantalla-3 {
  background-color: white;
  height: 100vh;
}

.pantalla3-boton {
  background-color: red;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 92%;
  left: 50%;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  color: black;
}
.pantalla3-boton:hover {
  background-color: #00bfff;
}
.pantalla3-boton a {
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  color: black;
}

@media only screen and (max-device-width: 480px),
  only screen and (min-device-width: 560px) and (max-device-width: 1136px) {
 
   
   .banner{
    justify-content: flex-start;
    
   }
   
    .banner img {
    width: 35%;
    margin-top:10px;
    margin-right:20px;
    
  }
  .menu__iconos-redes {
    background-color: var(--color-menu-redes);
    width: 30%;
    padding:20px;
    align-self: flex-start;
    margin-left:20px;
  }
  .menu__iconos-redes i {
    font-size: 80px;
    color: var(--color-iconos-redes);
    margin-top:5px;
    margin-bottom:5px;
   
  }
  .menu-aviso {
    padding:20px;
    width: 50%;
    font-size: 1rem;
  }

  header h1{
    font-size:0.8rem;
    margin-left: 4px;
  }
}
